<!DOCTYPE html>
<html>
  <head>
    <title>MapMyPaws</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.logo = "<%= image_url('mmp.png') %>";</script>
    <script type="text/javascript"> window.splashdog = "<%= image_url('splashdog.png') %>";</script>
    <script type="text/javascript">window.welcomeImg = "<%= image_url('welcome.png') %>";</script>
    <script type="text/javascript">window.pawIconRed = "<%= image_url('paw-icon-red.png') %>";</script>
    <script type="text/javascript">window.pawIconBlue = "<%= image_url('paw-icon-blue.png') %>";</script>
    <script type="text/javascript">window.pawIconGreen = "<%= image_url('paw-icon-green.png') %>";</script>
    <script type="text/javascript">window.locationIcon = "<%= image_url('location-icon.png') %>";</script>
    <script type="text/javascript">window.pawprints = "<%= image_url('pawprints.svg') %>";</script>
    <script type="text/javascript">window.defaultThumbnail = "<%= image_url('thumbnails/default_paws.png') %>";</script>
    <script type="text/javascript">window.noWalks = "<%= image_url('https://www.wallpapermaiden.com/wallpaper/19198/download/2560x1600/belgian-malinois-dog-running.jpg') %>";</script>

    <script src="https://kit.fontawesome.com/f391d4e959.js" crossorigin="anonymous"></script>
    <title>Map My Paws</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <style type="text/css">
      #map {
        width: 1200px;
        height: 800px;
      };
     </style>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
