<!DOCTYPE html>
<html>
  <head>
    <title>MapMyPaws</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.logo = "<%= image_url('mmp.png') %>";
    </script>
     <script type="text/javascript">
    window.welcomeImg = "<%= image_url('welcome.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <p>
    At Map My Paws, we believe exercise is the key to a happy and healthy dog.
    Begin tracking your pooch's progress today!
    </p>
  </footer>
</html>
